//designer puts css into this document

$sidebar-bgcolor: #505050;
$sidebar-fontcolor: white;
$sidebar-font: "Lato";
$siderbar-selected: black;
$footer-color: #444444;
$footer-color: white;
$content-bgcolor: #f1f1f1;
$content-h1color: #cccccc;
$content-fontcolor: #949494;
$link-selectedtitlecolor: #686767;
$link-underlinecolor: #f3d83f;
$link-unselectedtitlecolor: #a0a0a0;
$dd-buttoncolor: #f3d83f;
$dd-headercolor: #383838;
$dd-headerfontcolor: #788594;
$dd-profilebgcolor: #ffffff;
$dd-profilefontcolor: #383838;
$dd-logoutbgcolor: #f1eeee;
$dd-logoutfontcolor: #7e878c;
$admin-bgcolor: #690800;
$admin-fontcolor: white;
$course-bgcolor: #f2f2f2;
$course-titlefontcolor: #787878;
$course-codefontcolor: #9e9e9e;
$course-professorfontcolor: #690800;
$course-timesfontcolor: #9f9f9f;
$status-lockedfontcolor: #ed5565;
$status-viewedfontcolor: #a3cb7c;
$status-notviewedfontcolor: #d6b600;




